[submodule "julia/algorithm_dictionary"]
	path = julia/algorithm_dictionary
	url = https://github.com/szmlb/AlgorithmDictionary.git
[submodule "julia/algorithms_in_julia"]
	path = julia/algorithms_in_julia
	url = https://github.com/szmlb/algorithmsInJulia.git
[submodule "julia/deep-learning-from-scratch-jl"]
	path = julia/deep-learning-from-scratch-jl
	url = https://github.com/szmlb/deep-learning-from-scratch-jl.git
[submodule "julia/prml-jl"]
	path = julia/prml_jl
	url = https://github.com/szmlb/PRML-jl.git
[submodule "julia/ovm"]
	path = julia/ovm
	url = https://github.com/szmlb/OVM.git
